

<!-- <app-product [isAvailable]="true" [nbeDraf]="12" /> -->

<div class="durum">
  <p-button label="Show modal" (onClick)="onShowModal()" />
  <p-button label="Show confirm" (onClick)="showConfirm()" />
  <p-button label="Show notification" (onClick)="showNotification()" />
</div>

<hr class="my-5">

<div class="durum">
  <p-button label="Flate Bread" (onClick)="this._flatBread.next('flat bread')" />
  <p-button label="Meat" (onClick)="_meat.next('meat')" />
  <p-button label="Sauce" (onClick)="_sauce.next('sauce')" />
  <p-button label="Tomato" (onClick)="_tomato.next('tomato')" />
  <p-button label="Cabbage" (onClick)="_cabbage.next('cabbage')" />
  <p-button label="Add product" (onClick)="addProduct()" />
</div>
<hr class="my-5">

<ng-container *ngIf="(durum$ | async) as durum">
  <h4>Ingredients</h4>
  {{ durum | json }}
</ng-container>
<hr class="my-5">
@for (item of store.products(); track item) {
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <p class="card-text">
        <small class="text-muted">Code: {{ item.uniqueCode }}</small>
      </p>
      <div class="durum">
        <p-button label="Edit" (onClick)="editProduct(item)" />
        <p-button label="Delete" (onClick)="deleteProduct(item)" />
      </div>

    </div>
  </div>
}

<router-outlet />

