<!-- <p-toast /> -->
 <p-toast
  [baseZIndex]="10000"
  [showTransitionOptions]="'900ms'"
  [hideTransitionOptions]="'900ms'"
  [showTransformOptions]="'translateY(100%)'"
  [showTransformOptions]="'translateX(100%)'"
  [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}" />

   <p-toast
   [key]="'online'"
  [position]="'bottom-left'"
  [baseZIndex]="10000"
  [showTransitionOptions]="'900ms'"
  [hideTransitionOptions]="'900ms'"
  [showTransformOptions]="'translateY(100%)'"
  [showTransformOptions]="'translateX(100%)'"
  [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"
  />

 <p-confirmDialog key="confirm_delete" />

<!-- <app-global-loader /> -->
<h1>{{ 'HELLO' | translate }}, {{ title }}</h1>

<h2>Date: {{ dateString() }}</h2>


<p-button styleClass="mt-5" label="Langue francaise" (onClick)="toggleLangue('fr')" />
<p-button styleClass="mt-5" label="Langue anglaise" (onClick)="toggleLangue('en')" />

<!-- <app-colored-panel [title]="'Critères de recherche'">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae eveniet soluta exercitationem rerum id vel officia natus esse facilis est iusto cupiditate voluptas odit dolor, excepturi eos hic voluptatem quaerat!
  Aperiam, in illum. Nobis illum consectetur nihil nisi mollitia doloremque, unde quia quos soluta iusto. Laborum culpa fugit maxime delectus cumque incidunt recusandae magnam nam cupiditate! Labore numquam vero eius.</p>
</app-colored-panel> -->

<!-- <app-product-list /> -->

<ul>
  <li>
    <a [routerLink]="['/categories']" routerLinkActive="router-link-active">Categories</a>
    <a [routerLink]="['/products']" routerLinkActive="router-link-active">Products</a>
  </li>
</ul>

<router-outlet />






