<p>Component categories list</p>
<div class="card">
  <h5 class="card-title">Categories</h5>
  <div class="card-body">
    @for(category of facade.categories(); track category.id) {
      <div class="card-text">
        <p>{{ category.name }}</p>
        <p>{{ category.description }}</p>
        <div class="actions">
          <p-button label="Supprimer" (onClick)="deleteCategory(category)" />
        </div>
      </div>
    }
  </div>

        <p-button label="Unsupported method" (onClick)="unsupported()" />
<p-button styleClass="mt-5" label="Ajouter une categorie" (onClick)="openCategoryDialog()" />

