:host {
  display: block;
}

.box-container {
  margin-bottom: 1rem !important;
  border: 1px solid #c2c2c0 !important;
}

.box-header{
  height: 4px !important;
  margin-bottom: 10px !important;
  background-color: rgb(52 193 231);
}

.box-title {
  margin-left: .5rem !important;
  margin-right: .5rem !important;
  font-family: Montserrat !important;

  // font-size: 13px !important;
  // color: #1f4e6a !important;
  padding-bottom: 0px !important;
  // margin-bottom: 3px !important;
  // font-family: robotomedium !important;
  // font-weight: bold !important;
}

.box-content {
  // padding: 1px;
  // margin-left: .5rem !important;
  // margin-right: .5rem !important;
  // margin-bottom: 10px !important;
  border: 1px solid #c2c2c0 !important;
  background-color: #f9f9f9 !important;
}
