/* You can add global styles to this file, and also import other style files */

@use "tailwindcss";



*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root{
  --primary-color: #fff
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf") format('truetype');
}

// DIALOG STYLES

.p-dialog{
  border: 0 !important;
}

.p-icon{
  color: var(--primary-color) !important;
}

.p-button-text.p-button-secondary:not(:disabled):hover{
  color: var(--primary-color) !important;
  background-color: var(--p-primary-600) !important;
}

.p-icon:hover{
  color: var(--primary-color) !important;
  background-color: var(--primary-hover-color) !important;
}

.p-dialog-header{
  height: 1.5rem;
  margin-bottom: .5rem;
  color: var(--primary-color) !important;
  background-color: var(--p-primary-500) !important;
  border-top-left-radius: var(--p-dialog-border-radius);
  border-top-right-radius: var(--p-dialog-border-radius);
}

#footer-dialog-actions{
  position: static;
  padding-top: 1.2rem;
  border-top-style: solid !important;
  border-top-width: 0.1rem !important;
  border-top-color: black !important;
}
